.nav{
    list-style: none;
  border-style: none;
  padding-left: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  }
  
  .nav>li {
     border-style: ridge;
     display: inline-block;
     border-radius: 10px;
     background-color: rgb(30, 44, 100);   
  }
  .nav>li>a{
    text-decoration: none;
    color: white;
  }
  h1{
    display: block;
    text-align: center;
    margin: auto;
    }
  h2{
    border-style: double;
    display: block;
    border-radius: 10px;
    background-color: rgb(73, 94, 176);
    text-align: center;
    margin: auto;
  }
  h3{
    border-style: double;
    display: block;
    border-radius: 10px;
    background-color: rgb(73, 94, 176);
    text-align: center;
    margin: auto; 
  }

  .logo{
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin: auto;
  }
  img{
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin: auto;
  }
  p{
    text-align: center;
  }
  body{
    background-color: rgb(124, 149, 170);
  }
  /*
  Style text, background, and nav bar off of logo
  */